
<!DOCTYPE html>
<html lang="en">
        
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Explore</a></li>
            <li><a href="/">Post</a></li>
            <li><a href="/">Profile</a></li>
            <li><a href="/">FAQ</a></li>
            <li><a href="/">Post</a></li>
        </ul>
    </header>
    <main>
        {{> button }}
    </main>
{{> profileModal }}

<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Link</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/{{post.id}}" class="">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/public/javascript/add-post.js"></script>

