<div class="tabs is-centered is-boxed">
    <ul>
        <li class="is-active">
            <span>Plant Basic</span>
        </li>
        <li>
            <span>Plant Growing</span>
        </li>
        <li>
            <span></span>
        </li>
        <li>
            <a>
                <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                <span>Documents</span>
            </a>
        </li>
    </ul>
</div>